<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.AgentAccountInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.AgentAccountInfo">
        <id column="agent_no" property="agentNo" />
        <result column="agent_name" property="agentName" />
        <result column="balance" property="balance" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="init_user_id" property="initUserId" />
        <result column="created_uid" property="createdUid" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="freeze_balance" property="freezeBalance" />
    </resultMap>

    <update id="updateBalance" parameterType="java.util.Map">
        update t_agent_account_info
        <set>
            <if test="changeAmount != null" >
                balance = (balance + #{changeAmount}),
            </if>
        </set>
        <where>
            <if test="agentNo != null" >
                agent_no = #{agentNo}
            </if>
        </where>
    </update>

    <select id="sumAgentInfo" parameterType="java.util.Map" resultType="com.alibaba.fastjson.JSONObject" >
        select sum(balance) as totalBalance,sum(freeze_balance) as freezeBalance,count(*) as agentNum from t_agent_account_info WHERE state != -1
    </select>
</mapper>
