<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.PayOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.PayOrder">
        <id column="pay_order_id" property="payOrderId" />
        <result column="mch_no" property="mchNo" />
        <result column="agent_no" property="agentNo" />
        <result column="passage_id" property="passageId" />
        <result column="mch_name" property="mchName" />
        <result column="passage_order_no" property="passageOrderNo" />
        <result column="if_code" property="ifCode" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="amount" property="amount" />
        <result column="mch_fee_rate" property="mchFeeRate" />
        <result column="mch_fee_amount" property="mchFeeAmount" />
        <result column="agent_rate" property="agentRate" />
        <result column="agent_fee_amount" property="agentFeeAmount" />
        <result column="state" property="state" />
        <result column="notify_state" property="notifyState" />
        <result column="notify_params" property="notifyParams" />
        <result column="notify_resp" property="notifyResp" />
        <result column="client_ip" property="clientIp" />
        <result column="passage_resp" property="passageResp" />
        <result column="err_code" property="errCode" />
        <result column="err_msg" property="errMsg" />
        <result column="ext_param_json" property="extParamJson" />
        <result column="notify_url" property="notifyUrl" />
        <result column="return_url" property="returnUrl" />
        <result column="expired_time" property="expiredTime" />
        <result column="success_time" property="successTime" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="mch_order_no" property="mchOrderNo" />
        <result column="passage_rate" property="passageRate" />
        <result column="passage_fee_amount" property="passageFeeAmount" />
        <result column="passage_user_id" property="passageUserId" />
        <result column="agent_passage_fee" property="agentPassageFee" />
        <result column="agent_passage_rate" property="agentPassageRate" />
        <result column="agent_no_passage" property="agentNoPassage" />
        <result column="force_change_state" property="forceChangeState" />
        <result column="force_change_login_name" property="forceChangeLoginName" />
        <result column="force_change_before_state" property="forceChangeBeforeState" />
    </resultMap>

    <!--成功、退款订单统计-->
    <select id="selectOrderCount" resultType="java.util.Map" parameterType="java.util.Map" >
        SELECT DATE_FORMAT(FLOOR(created_at),'%m-%d') groupDate, ROUND(IFNULL(SUM(amount) - SUM(refund_amount), 0)/100, 2) AS payAmount,
        ROUND(IFNULL(SUM(refund_amount), 0)/100, 2) AS refundAmount
        FROM t_pay_order
        WHERE  1=1
        AND state in (2,5)
        <if test="mchNo != null"> AND mch_no = #{mchNo} </if>
        <if test="createTimeStart != null"> AND created_at &gt;= #{createTimeStart} </if>
        <if test="createTimeEnd != null"> AND created_at &lt;= #{createTimeEnd} </if>
        GROUP BY groupDate
        ORDER BY groupDate desc
    </select>
</mapper>
