<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.StatisticsMchProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.StatisticsMchProduct">
        <id column="statistics_product_mch_id" property="statisticsProductMchId" />
        <result column="product_id" property="productId" />
        <result column="statistics_date" property="statisticsDate" />
        <result column="total_order_count" property="totalOrderCount" />
        <result column="order_success_count" property="orderSuccessCount" />
        <result column="total_amount" property="totalAmount" />
        <result column="total_success_amount" property="totalSuccessAmount" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="total_cost" property="totalCost" />
        <result column="mch_no" property="mchNo" />
    </resultMap>

</mapper>
